<div class="container-fluid">
    <div ng-show="!isSuccess">
        <span ng-repeat="error in errors">
            {{error}}
        </span>
    </div>
    <div class="row" ng-show="isSuccess">
        <div class="table-responsive">
            <table class="table">
                <tr ng-repeat="display in displays">
                    <td>{{display.id}}</td>
                    <td>{{display.manufacturer.title}} {{display.model}}</td>
                </tr>
            </table>
            <uib-pagination total-items="totalItems" items-per-page="itemsPerPage" ng-model="currentPage" max-size="5"
                            class="pagination-sm" boundary-link-numbers="true"
                            ng-change="pageChanged()"></uib-pagination>
        </div>
    </div>
</div>